
@{
    ViewData["Title"] = "Checkout";
}



<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="#" class="billing-form">
                <h3 class="mb-4 billing-heading">Thông Tin Người Nhận</h3>
                <div class="row align-items-end">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="lastname">Họ và Tên</label>
                            <input type="text" readonly class="form-control">
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="country">Số điện thoại</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="streetaddress">Địa Chỉ Cụ Thể</label>
                            <input type="text" class="form-control" id="diachi" placeholder="">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <section id="cart_items">
                   <h2>Nội dung hàng</h2>
                    <div class="table-responsive cart_info">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="cart_menu">
                                    <td class="image">Sản phẩm</td>
                                    <td class="description"></td>
                                    <td class="price">Giá</td>
                                    <td class="quantity">Số lượng</td>
                                    <td class="total">Tổng giá</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @*chổ này nếu có thể code mặc định hình nhỏ lại thì để còn hông thì bỏ phần hình đi*@
                                <tr>
                                    <td class="cart_product">
                                        <a href=""><img src="" alt=""></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">Tên sản phẩm</a></h4>
                                    </td>
                                    <td class="cart_price">
                                        <p>$59</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <a class="cart_quantity_up" href=""> + </a>
                                            <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                            <a class="cart_quantity_down" href=""> - </a>
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">$59</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">&nbsp;</td>
                                    <td colspan="2">
                                        <table class="table table-condensed total-result">
                                            <tbody>
                                                <tr>
                                                    <td>Tổng giá sản phẩm</td>
                                                    <td>$59</td>
                                                </tr>
                                                <tr class="shipping-cost">
                                                    <td>Phí giao hàng</td>
                                                    <td>Free</td>
                                                </tr>
                                                <tr>
                                                    <td>Tổng tiền thu người nhận</td>
                                                    <td><span>$61</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="payment-options">
                        <span>
                            <label><input type="checkbox">Thanh toán khi nhận hàng</label>
                        </span>
                        <span>
                            <label><input type="checkbox"> Paypal</label>
                        </span>
                        <input type="submit" name="submit"  class="btn btn-primary pull-right" value="Thanh toán">
                    </div>
            </section>

        </div>

    </div>

</div>
