
@{
    ViewData["Title"] = "Product";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center" style="margin-top:5%">ĐIỆN THOẠI "HÃNG"</h2>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="https://cdn.tgdd.vn/Products/Images/42/228453/vivo-v20-600-xanh-hong-2-600x600.jpg" alt="">
                                    <h2>Giá</h2>
                                    <p>Tên Điện Thoại</p>

                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>Giá</h2>
                                        <p>Tên Điện Thoại</p>
                                        <a href="/Home/Detail" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Chi tiết</a>
                                        <a href="/Home/Cart" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








