@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<!doctype html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="~/assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="">
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand" style="padding-top: 23px; padding-left: 58.4px; padding-bottom: 20px">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index"><img src="~/Common/Image/logo-ptstore.png" alt="PT Store logo" class="img-responsive logo" width="162"></a>
            </div>
            <div class="container-fluid" style="background-color:white">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <div class="navbar-form navbar-left" style="padding-top:7px; padding-left:0px">
                    <form class="navbar-form navbar-left">
                        <div class="input-group">
                            <input type="text" value="" class="form-control" placeholder="Nhập nội dung ...">
                            <span class="input-group-btn"><button type="button" class="btn btn-primary">Tìm kiếm</button></span>
                        </div>
                    </form>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="lnr lnr-alarm"></i>-->
                                @*Số lượng thông báo*@
                                <!--<span class="badge bg-danger"></span>
                            </a>
                            <ul class="dropdown-menu notifications">-->
                                @*<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>*@
                                <!--<li><a href="#" class="more">See all notifications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Basic Use</a></li>
                                <li><a href="#">Working With Data</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Troubleshooting</a></li>
                            </ul>
                        </li>-->
                        <li class="dropdown" style="padding-top:14px">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@*<img src="~/assets/img/user.png" class="img-circle" alt="Avatar">*@ <span>Phung @*@ViewData["AdminName"]*@</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                @*<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>*@
                                <li><a href="#"><i class="lnr lnr-cog"></i> <span>Tài khoản</span></a></li>
                                <li><a href="#"><i class="lnr lnr-exit"></i> <span>Đăng xuất</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index" class="active"><i class="lnr lnr-home"></i> <span>Trang chủ</span></a></li>
                        <li><a href="#" class=""><i class="lnr lnr-chart-bars"></i> <span>Biểu đồ</span></a></li>
                        <li><a asp-area="Admin" asp-controller="ThuongHieu" asp-action="Index" class=""><i class="lnr lnr-menu"></i> <span>Thương hiệu</span></a></li>
                        <li><a asp-area="Admin" asp-controller="DienThoais" asp-action="Index" class=""><i class="lnr lnr-smartphone"></i> <span>Điện thoại</span></a></li>
                        <li><a href="notifications.html" class=""><i class="lnr lnr-store"></i> <span>Đơn hàng</span></a></li>
                        <li>
                            <a href="#drr" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Tài khoản</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="drr" class="collapse ">
                                <ul class="nav">
                                    <li><a href="#" class="">Admin</a></li>
                                    <li><a href="#" class="">Customer</a></li>
                                    <li><a href="#" class="">Subcribers</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class=""><i class="lnr lnr-bookmark"></i> <span>Góp ý</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">&copy; 2020 <a href="https://fb.com/phungnm99" target="_blank">PTStore</a>. All Rights Reserved.</p>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    @*<script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>*@
    <script src="~/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    @*<script src="~/assets/vendor/chartist/js/chartist.min.js"></script>*@
    <script src="~/assets/scripts/klorofil-common.js"></script>
</body>
</html>
